.tabsheetnotsel {
	border-color: 000000;
	border-top: solid;
	border-left: solid;
	border-right: solid;
	border-bottom: solid;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	background-color: AAAAAA;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-weight: normal;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;		
}

.tabsheet {
	border-color: 000000;
	border-top: solid;
	border-left: solid;
	border-right: solid;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;		
}

.tabpage {
	border-color: 000000;
	border-left: solid;
	border-right: solid;
	border-bottom: solid;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
}

.
string
{
color
:
#2A00FF;
font-family
:
Courier
,
Monospace;
font-size
:
12px;
font-style
:
normal;
line-height
:
normal;
font-weight
:
bold;
text-decoration
:
none;
}
.comment {
	color: #3f7f5f;
	font-family: courier, monospace;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: none;
}

.common {
	color: #7f0055;
	font-family: courier, monospace;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: none;
}

A:link {
	color: #333333;
}

A:visited {
	color: #336666;
}

A:hover {
	color: #336666;
}

A.pagetitle:link {
	color: #333333;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: none;
}

A.pagetitle:visited {
	color: #336666;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: none;
}

A.pagetitle:hover {
	color: #336666;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: none;
}

A.menuitem,A.menuitem:link,A.menuitem:active,A.menuitem:visited {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: bold;
	line-height: normal;
	font-weight: bold;
	text-decoration: none;
}

A.menuitem:hover {
	color: #ff0000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: bold;
	line-height: normal;
	font-weight: bold;
	text-decoration: none;
}

A.title:link {
	color: #336666;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: underline;
}

A.title:visited {
	color: #336666;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: underline;
}

A.title:hover {
	color: #336666;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: underline;
}

TH {
	color: #ffffff;
	background-color: #0313dd;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: none;
}

TD.menutitle1 {
	color: #ffff00;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: none;
	text-indent: 10px;
	padding: 3px;
}

A.menutitle1,A.menutitle1:visited,A.menutitle1:link {
	color: #ffff00;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: none;
}

A.menutitle1:hover {
	color: #ff0000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: none;
}

TD.menutitle2 {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: none;
	text-indent: 10px;
	margin: 3px;
}

TD.shortcut {
	color: #666666;
	font-family: verdana, arial, helvetica, sans-serif;
	background-color: #c1d1d1;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: none;
}

TD.pagetitle {
	color: #333333;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: none;
	margin: 5px;
}

TD.doctitle {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 17px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: underline;
	text-align: left;
}

TD.1sttitle {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: underline;
	text-align: left;
}

H1 {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: underline;
	text-align: left;
}

TD.2sttitle {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: underline;
	text-align: left;
}

H2 {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: underline;
	text-align: left;
}

TD.3sttitle {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: underline;
	text-align: left;
}

H3 {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: underline;
	text-align: left;
}

TD.4sttitle {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: bold;
	text-decoration: none;
}

H4 {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: bold;
	text-decoration: none;
}

TD.text {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: none;
}

P.text {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: none;
}

P {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: none;
}

LI {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
}

LI.text {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
}

TD.bottomtext {
	color: #333333;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: none;
}

INPUT {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: none;
}

input.submit {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	display: caption;
}

.pink {
	color: #ffaaaa
}

INPUT.notvalid {
	color: #000000;
	background-color: #ffaaaa;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: none;
	width: 100%;
}

SELECT {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: none;
}

SELECT.notvalid {
	color: #000000;
	background-color: #ffaaaa;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: none;
}

TD.tabletitle {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: underline;
}

TD.listtitle {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: underline;
}

TD.tableheader {
	color: #666666;
	background-color: #ebebc2;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: none;
}

TD.codetitle {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: underline;
}

TD.code {
	color: #000000;
	font-family: courier, monospace;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: none;
}

P.code {
	color: #000000;
	font-family: courier, monospace;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: none;
}

A.code {
	color: #666666;
	font-family: courier, monospace;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: none;
}